<div class="layout-nav">
      <nav class="main-nav" aria-label="Menú principal">
        <ul>
          <li><a href="/admin/navs" data-accessibility-violation="true"><svg aria-label="dashboard" role="img" aria-hidden="true" class="icon--dashboard icon"><title>dashboard</title><use href="/decidim-packs/media/images/icons-c4fd0f43651700b0c768.svg#icon-dashboard"></use></svg>Gestionar menu</a>
          </li>
          <li>
            <a href="/admin/"><svg aria-label="dashboard" role="img" aria-hidden="true" class="icon--dashboard icon"><title>dashboard</title><use href="/decidim-packs/media/images/icons-c4fd0f43651700b0c768.svg#icon-dashboard"></use></svg>Panel de control</a>
          </li>
          <li><a href="/admin/participatory_processes"><svg aria-label="target" role="img" aria-hidden="true" class="icon--target icon"><title>target</title><use href="/decidim-packs/media/images/icons-c4fd0f43651700b0c768.svg#icon-target"></use></svg>Procesos</a>
          </li>
          <li><a href="/admin/assemblies"><svg aria-label="dial" role="img" aria-hidden="true" class="icon--dial icon"><title>dial</title><use href="/decidim-packs/media/images/icons-c4fd0f43651700b0c768.svg#icon-dial"></use></svg>Asambleas</a>
          </li>
          <li><a href="/admin/moderations"><svg aria-label="flag" role="img" aria-hidden="true" class="icon--flag icon"><title>flag</title><use href="/decidim-packs/media/images/icons-c4fd0f43651700b0c768.svg#icon-flag"></use></svg>Moderaciones globales</a>
          </li>
          <li><a href="/admin/static_pages"><svg aria-label="book" role="img" aria-hidden="true" class="icon--book icon"><title>book</title><use href="/decidim-packs/media/images/icons-c4fd0f43651700b0c768.svg#icon-book"></use></svg>Páginas</a>
          </li>
          <li><a href="/admin/users"><svg aria-label="person" role="img" aria-hidden="true" class="icon--person icon"><title>person</title><use href="/decidim-packs/media/images/icons-c4fd0f43651700b0c768.svg#icon-person"></use></svg>Participantes</a>
          </li>
          <li><a href="/admin/newsletters"><svg aria-label="envelope-closed" role="img" aria-hidden="true" class="icon--envelope-closed icon"><title>envelope-closed</title><use href="/decidim-packs/media/images/icons-c4fd0f43651700b0c768.svg#icon-envelope-closed"></use></svg>Boletines</a>
          </li>
          <li><a href="/admin/organization/edit"><svg aria-label="wrench" role="img" aria-hidden="true" class="icon--wrench icon"><title>wrench</title><use href="/decidim-packs/media/images/icons-c4fd0f43651700b0c768.svg#icon-wrench"></use></svg>Configuración</a>
          </li>
          <li><a href="/admin/logs" data-accessibility-violation="true"><svg aria-label="dashboard" role="img" aria-hidden="true" class="icon--dashboard icon"><title>dashboard</title><use href="/decidim-packs/media/images/icons-c4fd0f43651700b0c768.svg#icon-dashboard"></use></svg>Registro de actividad de administración</a></li></ul>
      </nav>
    </div>
